<%= form_for(book) do |f| %>
  <div class="book-form">
    <div class="read">
      <%= f.label :read %><br>
      <table>
      <tr>
      <td><%= f.label 'I have read this book', 'read' %></td>
      <td><%= f.radio_button :read, :checked => true%></td>
      </tr>
      <tr>
      <td><%= f.label 'I gotta read this', 'Not read' %></td>
      <td><%= f.radio_button :read, false%></td>
      </tr>
      <td><%= f.hidden_field :book_id %></td>
      <td><%= f.hidden_field :user_id %></td>
      </table>

    </div>
  </div>
  <% end %>
