<div class="book-edit">
<%= form_for(book) do |f| %>
<<<<<<< HEAD
  <div class="book-form">
    <div class="read">

      <%= f.label :read %><br>
      <table>
      <tr>
      <td><%= f.label 'read' %></td>
      <td><%= f.radio_button :read, :checked => true%></td>
      </tr>
      <tr>
      <td><%= f.label  'Not read' %></td>
      <td><%= f.radio_button :read, false%></td>
      </table>
  <%= f.submit %>
    </div>
  </div>
=======
    <div class="book-edit-title">
      <%= f.label "Have your read this book?" %></div>
      <%= f.radio_button :have_read, :checked => true%>
      <%= f.label 'Yes!' %><br>
      <%= f.radio_button :have_read, false%>
      <%= f.label  'No but I want to!' %><br>
      <%= f.submit "Bookshelf This!", :class => 'review-button' %>
>>>>>>> d3516dab38b3ff52e694ffe99b9aeb076a09f058
  <% end %>
</div>
