<div class="book-edit">
<%= form_for(book) do |f| %>
    <div class="book-edit-title">
      <%= f.label "Have your read this book?" %></div>
      <%= f.radio_button :have_read, :checked => true%>
      <%= f.label 'Yes!' %><br>
      <%= f.radio_button :have_read, false%>
      <%= f.label  'No but I want to!' %><br>
      <%= f.submit "Bookshelf This!", :class => 'review-button' %>
  <% end %>
</div>
