$(document).ready(function() {


  $('body').append('<div class ="more-bitches">');
  $('.more-bitches').append('<% @resp.each do |book, index| %> <div><div class="book-title"><%= book.title %></div><br><div class="book-author"><%= book.authors %></div><br><div><img src="<%= book.image_link(:zoom => 5) %>" class="book-image" /></div><br><div class="book-description"><%= book.description %></div><br><div><a href="<%= book.info_link %>" class="book-buy-link" ><%= book.info_link %></a></div><br><button class="add">Add To Bookself</button></div><% end %>');


$('.add').on('click', function(e) {
   e.preventDefault();

        bookData = {
                    title: $('.book-title').text(),
                    author: $('.book-author').text(),
                    image: $('.book-image').attr('src'),
                    description: $('.book-description').text(),
                    buy_link: $('.book-buy-link').attr('href'),
                };

                console.log(bookData)

            $.ajax({
                type: "POST",
                url: "/books",
                data: bookData,
                success: function (data) {
                    console.log(data);
                },
                error: function (){
                    window.alert("something wrong!");
                }
            });
     });




}) //end of document.ready
