<div class="single-book">
    <h1><%= @book.title %></h1>
    <p>By: <%= @book.author %></p>
    <div><img src="<%= @book.image %>" /></div>
    <p><% if @book.description? %>
        <%= @book.description %>
          <% else %>
          No description avaliable.
          <% end %>
        </p>
    <p><% if @book.buy_link? %>
        <button><%= link_to "buy this book?", @book.buy_link %></button>
        <% else %>
        Sorry, this book is not available for purchase.
        <% end %></p>

</div>

<div>
  <%= render 'reviews/reviews_form', review: @review %>
</div>
<div class="button">
  <button><%= link_to 'Take this book off your bookshelf?', @book, method: :delete, data: { confirm: "Are you sure?"} %></button>
</div>
<% @book.reviews.each do |review| %>
<%= review.content %>
<%= review.created_at %>
<% end %>
<%= render "reviews/reviews_form", review: @review %>
