<div id="bookShowContainer">
  <div class="music-div">
      <button class="mute">&#128263;</button>
      <button class="sound-on">&#128266;</button>
  </div>
  <div id="book-and-reviews">
    <div class="single-book">
      <div class="title-author">
        <h1 class="book-title-show"><%= @book.title %></h1>
        <p>By: <%= @book.author %></p>
        <p><% if @book.description? %>
            <%= @book.description %>
              <% else %>
              No description avaliable.
              <% end %>
        </p>
      </div>
      <div class="description-buy">
        <div class="image-single"><img src="<%= @book.image %>" /></div>
        <p class="buy-link-show"><% if @book.buy_link? %>
            <button><%= link_to "buy this book?", @book.buy_link %></button>
            <% else %>
            Sorry, this book is not available for purchase.
            <% end %></p>
            <div class="book-delete">
              <button><%= link_to 'Take this book off your bookshelf?', @book, method: :delete, data: { confirm: "Are you sure?"} %></button>
            </div>
        </div>
    </div>
 <div id="book-reviews">

  <div class="review-form">
    <%= render "reviews/form", review: @review %>
  </div>
  <div class="reviews">
    <% @book.reviews.order(cached_votes_up: :desc).each do |review| %>
    <div class="review">
      <%= review.content %> <br>
      <%= review.created_at %> <br>
      <%= review.out_of_five %> /5

      <button><%= link_to 'Edit this Review?', edit_review_path(review) %></button><br>
      <button><%= link_to like_path(review), method: :patch do %>
        Like <%= review.get_upvotes.size %>
      <% end %>
      </button>
      <button><%= link_to dislike_path(review), method: :patch do %>
        Disike <%= review.get_downvotes.size %>
      <% end %>
      </button>
    </div>
    <button><%= link_to 'Edit this Review?', edit_review_path(review) %></button>
    <% if current_user.id == review.user_id %>
    <button><%= link_to 'Delete this Review?', review, method: :delete, data: {confirm: "Are you sure?"} %></button><br>
    <% end %>
    <% end %>
    </div>
  </div>
</div>
