<div id="userShowContainer" class="bg-img-book">
  <div class="bookshelfs">
        <div class="have-read shelf">
        <h1>Have Read:</h1>
        <% @books.each do |book| %>
         <% if book.have_read == true %>
         <div class="have-read-books books-user">
           <div class="wiggle"><%= link_to (image_tag(book.image)), book_path(book.id) %></div>
           <div class="shelf-img"></div>
        </div>
        <% end %>
      <% end %>
      </div>
      <div class="to-read shelf">
      <h1>To Read:</h1>
      <% @books.each do |book| %>
        <% if book.have_read == false %>
        <div class="to-read-books books-user">
         <div class="wiggle"><%= link_to (image_tag(book.image)), book_path(book.id) %></div>
         <div class="shelf-img"></div>
        </div>
        <% end %>
      <% end %>
      </div>
      <div class="profile-section">
        <div class="user-email">
         <h1>Your Profile: <%= @user.email %>!</h1>
       </div>
        <%= render "follow_form" %>
        <%= render "stats" %>
        <%= link_to "Find other users!", users_path, class: "user-button"  %>
        <div class="reviews-feed">
          <p>Most Recent Reviews:</p>
          <% if current_user.id == @user.id %>
            <% current_user.feed.each do |item| %>
            <%= item.user.email %> said about "<%= item.book.title %>":
            <%= item.content %>
            and gave it <%= item.out_of_five %> stars out of five.
            <br><br>
            <% end %>
          <% end %>
        </div>
      </div>
   </div>
</div>
