<div id="userShowContainer" class="bg-img-book">
  <div class="bookshelfs">
        <div class="have-read shelf">
        <h1>Have Read:</h1>
        <% @books.each do |book| %>
         <% if book.have_read == true %>
         <div class="have-read-books books-user">
           <div class="wiggle"><%= link_to (image_tag(book.image)), book_path(book.id) %></div>
           <div class="shelf-img"></div>
        </div>
        <% end %>
      <% end %>
      </div>
      <div class="to-read shelf">
      <h1>To Read:</h1>
      <% @books.each do |book| %>
        <% if book.have_read == false %>
        <div class="to-read-books books-user">
         <div class="wiggle"><%= link_to (image_tag(book.image)), book_path(book.id) %></div>
         <div class="shelf-img"></div>
        </div>
        <% end %>
      <% end %>
      </div>
      <div class="profile-section">
        <div class="user-email">
         <div class="prof-name">Your Profile:<br><%= @user.email %>!</div>
       </div>
        <%= render "follow_form" %>
        <%= render "stats" %>
        <div class="find-users">
          <form action="/users">
          <button class="review-button">Find other users!</button>
        </form>
        </div>
        <div class="reviews-feed">
          <p>Most Recent Reviews:</p>
          <% if current_user.id == @user.id %>
          <ul class="user-feed">
            <% current_user.feed.each do |item| %>
            <li>
            <%= item.user.email %> said about "<%= item.book.title %>":
            <%= item.content %>
            and gave it <%= item.out_of_five %> stars out of five.
            <br><br>
            </li>
            <% end %>
            </ul>
          <% end %>
        </div>
      </div>
   </div>
</div>
