<!DOCTYPE html>
<html>
  <head>
    <title>BisonBookshelf</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
<div class ="devise">
        <div id ="notice">
          <p class ="notice"><%= notice %></p>
        </div>

        <div id ="alert">
          <p class="alert"><%= alert %></p>
       </div>
</div>

    <%= yield %>
  </body>
</html>
