  <%= form_for(review) do |f| %>
  <div class="review-form">
    <div class="rf-content rf">
      <%= f.label "Review:" %><br>
      <p><%= f.text_area :content, cols: 35, rows: 8, placeholder: 'Read the book? Write your review.' %></p>
    </div>
    <div class="rf-outoffive rf">
      <%= f.label "Rating:" %>
      <p><%= f.number_field :out_of_five, :size => 4, maxlength: '1', max: '5', min: '0' %> /5</p>
      <%= f.hidden_field :book_id %>
      <%= f.hidden_field :user_id %>
      <%= f.hidden_field :book_title, value: @book.title %>
      <%= f.submit 'Post Review', :class => 'review-button' %>
    </div>
  </div>
  <% end %>
