  <%= form_for(review) do |f| %>
  <div class="review-form">
    <div class="rf-content rf">
      <%= f.label :content %><br>
      <p><%= f.text_area :content, cols: 40, rows: 10 %></p>
    </div>
    <div class="rf-outoffive rf">
      <%= f.label "Rating:" %>
      <p><%= f.text_field :out_of_five %> /5</p>
      <%= f.hidden_field :book_id %>
      <%= f.hidden_field :user_id %>
      <%= f.submit %>
    </div>
  </div>
  <% end %>
