  <div class="music-div">
    <button class="mute">&#128263;</button>
    <button class="sound-on">&#128266;</button>
  </div>


<h1>Hi, <%= @user.email %>!</h1>

  <% if current_user == @user %>
<div class = "show-books">
      <% @books.each do |book| %>
      <% if book.read == false %>
       <div class ="to-read">
         <%= link_to (image_tag(book.image)), book_path(book.id) %>
      </div>
<% else %>
     <div class ="have-read">
       <%= link_to (image_tag(book.image)), book_path(book.id) %>
    </div>
     <% end %>

        <% @books.each do |book| %>
         <% if book.have_read == false %>
         <div class="have-read">
           <%= link_to (image_tag(book.image)), book_path(book.id) %>
        </div>

      <% else %>
        <div class="to-read">
         <%= link_to (image_tag(book.image)), book_path(book.id) %>
        </div>
        <% end %>

      <% end %>
  <% end %>
  <% end %>
